
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=153617311511977";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>

    <div class="container">

      <!-- Typography
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="type"><%= @artist.name %></h2>
            </div>
          </div>
        </div>

        <h3>
        <%= @artist.day %>(<%= @artist.country %>)　
        <script type="text/javascript" language="javascript">
        document.write('<div class="fb-like" data-href="http://gigster.jp/artist/<%= @artist.id %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>');
        </script>　
        <%= @artist.view_count %> Views</h3><br/>
        </h3>

        <div class="bs-example">
          <p class="lead"><%= @artist.gunre %></p>
        </div>

        <% if user_signed_in? && current_user.id == @artist.users_ids %>
          <%= link_to '(編集する)', edit_artist_path(@artist), :style => "color:18bc9c;" %><br>
        <% end %>

        <%= image_tag @artist.image_url, :size => "350x300" %>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-4">

            <div class="bs-example">
              <p class="lead"><%= br(@artist.detail) %></p>
            </div>
            <br/>

            <% if @artist.soundcloud_url != "" %>
              <iframe width="450" height="100" scrolling="no" frameborder="no" src="<%= @artist.soundcloud_url %>"></iframe>
              <br/><br/>
            <% end %>

            <% if @artist.yotube_url != "" %>
              <iframe width="450" height="300" src="<%= @artist.yotube_url %>?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
              <br/><br/>
            <% end %>

          </div>
        </div>

        <table>
        <tr>
          <td>

            <% if user_signed_in? %>
                <%= button_to "お気に入り♥", { :controller=>"artists", :action => "favorite_artist", :id => @artist.id }, :confirm => "お気に入りにいれますか?", :method => :favorite, :class=>"btn btn-danger" %>
            <% else %>
                <%= button_to "お気に入り♥", user_omniauth_authorize_path(:facebook), :class=>"btn btn-danger", :style=>"margin: 70px 0 0 0;" %>
            <% end %>

          </td>
          <td>
            <a href="http://ticket-search.pia.jp/pia/search_all.do?kw=<%=@artist.name%>" class="btn btn-info" style="background-color:#00acee;border-color:#00acee;margin: 70px 0px 0 20px;" target="_blank" type="submit" value="チケットぴあ" >チケットぴあ
          </td>
        </tr>
        </table><br/>


        <div class="bs-example">
          <p class="lead" style="color:#e74c3c;">お気に入りユーザ</p>
          <% if user_signed_in? %>
              <% @artist.favorite_artists.each do |f| %>
                　<%= f.user.name %><br/>
              <% end %>
          <% else %>
            <p><font color="red">※お気に入りユーザを見るにはログインか会員登録して下さい。</font></p>
          <% end %>

        </div><br/>

        <div class="bs-example">
          <p class="lead" style="color:#18bc9c;" >コメント</p>
          <% if user_signed_in? %>
              <% @artist.comment_artists.each do |c| %>
                  <div class="bsa well">
                  　<%= c.created_at.strftime("%m/%d %H:%M")  %>　
                  　<%= c.content %>　
                  　by <%= c.user.name %>
                  </div>
              <% end %>

              <%= form_tag('/artists/comment_artist/') do %>
                <form class="bs-example form-horizontal">
                  <div class="form-group">
                    　<%= text_area_tag 'content', "", :class => "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= submit_tag ["コメントする"], :class => "btn btn-primary" %>
                  </div>
                  <input name="id" type="hidden" value="<%= @artist.id %>">
                </form>
              <% end %>

          <% else %>
            <p><font color="red">※コメントを見るにはログインか会員登録して下さい。</font></p><br/>
            Facebook会員登録<%= button_to "→　Sign in with Facebook　←", user_omniauth_authorize_path(:facebook), :class=>"btn btn-info" %><br/>
            Twitter会員登録
             <%= button_to "→　Sign in with Twitter　←", user_omniauth_authorize_path(:twitter), :class=>"btn btn-info", :style=>"background-color:#00acee;border-color:#00acee;" %><br/>

          <% end %>
        </div>

        <%= link_to '一覧へ戻る', '/artists' %><br/><br/>
        <%= link_to 'TOPへ戻る', '/' %>
        <br/><br/>

    </div>



