    <script type="text/javascript">
    jQuery(function($) {

      //data-hrefの属性を持つtrを選択しclassにclickableを付加
      $('tr[data-href]').addClass('clickable')
        //クリックイベント
        .click(function(e) {
          //e.targetはクリックした要素自体、それがa要素以外であれば
          if(!$(e.target).is('a')){
            //その要素の先祖要素で一番近いtrの
            //data-href属性の値に書かれているURLに遷移する
            window.location = $(e.target).closest('tr').data('href');}
      });
    });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.bottom-1.0.js"></script>
    <script src="/assets/jquery.bottom-1.0.js?body=1" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        $(window).bottom({proximity: 0.05});
        $(window).on('bottom', function() {
            // コンテンツ表示の処理を記述
        });
    });
    </script>
    <%= image_tag "top.jpg", :alt => 'top', :width => '1000', :height => '400' %>

      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
            </ul>

            <%= search_form_for @search, :url => '/', :class => 'navbar-form navbar-left' do |f| %>

              <%= f.text_field :name_cont, :class => 'form-top-control col-lg-8', :placeholder => 'gigs' %>
              <%= f.collection_select :prefecture_code_in, JpPrefecture::Prefecture.all, :code, :name, {:prompt => "select citys"}, {:class => 'form-top-control'} %>
              <%= f.date_select :day_gteq, {include_blank: true}, {:class => 'form-top-control'} %>
              <%= f.submit '検索する', :class => "btn btn-success" %>
            <% end %>

          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar -->

    <% tmp_day = false %>
    <% @gigs.each do |gig| %>
      <div class="container">

        <% if tmp_day != gig.day %>
            <% if tmp_day != false %>
                  </tbody>
                </table>
              </div><!-- /example -->
            <% end %>

            <% tmp_day = gig.day %>
            <div class="page-header">
              <h3 id="tables"><%= gig.day.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[gig.day.wday]})") %></h1>
            </div>
            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover">
              <tbody>
        <% end %>
        <tr data-href="/gigs/<%= gig.id %>" >
          <td width="200" ><%= image_tag gig.image, :size => "150x150" %></td>
          <td><%= gig.name %><br/><%= simple_format(gig.infomation) %></td>
        </tr>

      </div>
    <% end %>





