
   <div class="container">

    <%= form_for(@gig, :html => { :multipart => true }) do |f| %>
      <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="forms">Gig Register</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              <form class="bs-example form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Gig name <font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.text_field :name,:class => "form-control",:id => "inputEmail",:placeholder => "name" %>
                      <%= error_tag(@gig, :name) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Gig Image<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.file_field :flyer,:class => "form-control" %>
                      <%= f.hidden_field :flyer_cache %>
                      <%= error_tag(@gig, :flyer) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">infomation<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.text_area :infomation,:class => "form-control",:placeholder => "infomation" %>
                      <%= error_tag(@gig, :infomation) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Country<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.country_select :country , [ "United States","United Kingdom","Japan","Australia", "France","Germany","Spain","Ireland","Italy","Sweden","Brazil","Canada", "Denmark", "Israel","Singapore", "India", "Indonesia", "Korea, Republic of" , "China","Hong Kong", "Thailand","South Africa"] %>
                      <%= error_tag(@gig, :country) %>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Gig date<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.date_select :day,:class => "form-control",:id => "select" %><br />
                      <%= error_tag(@gig, :day) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">
                    YouTube URL（任意）</label>
                    <div class="col-lg-10">
                      <%= f.text_field :yotube_url,:class => "form-control",:id => "inputEmail",:placeholder => "youtube" %><br />
                      <%= error_tag(@gig, :yotube_url) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default">Cancel</button>
                      <%= f.submit :class => "btn btn-primary" %>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    </div>

