
   <div class="container">

    <%= form_for(@gig, :html => { :multipart => true }) do |f| %>
      <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="forms">ギグ登録</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              <form class="bs-example form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">ギグ名<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.text_field :name,:class => "form-control",:id => "inputEmail",:placeholder => "name" %>
                      <%= error_tag(@gig, :name) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">フライヤー画像<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.file_field :flyer,:class => "form-control" %>
                      <%= f.hidden_field :flyer_cache %>
                      <%= error_tag(@gig, :flyer) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">ギグ情報<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.text_area :infomation,:class => "form-control",:placeholder => "infomation" %>
                      <%= error_tag(@gig, :infomation) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">都道府県<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, :prompt => true,:class => "form-control",:id => "inputEmail",:placeholder => "name" %>
                      <%= error_tag(@gig, :prefecture_code) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">日付<font color="#18bc9c">（必須）</font></label>
                    <div class="col-lg-10">
                      <%= f.date_select :day,:class => "form-control",:id => "select" %><br />
                      <%= error_tag(@gig, :day) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">
                    YouTube URL（任意）</label>
                    <div class="col-lg-10">
                      <%= f.text_field :yotube_url,:class => "form-control",:id => "inputEmail",:placeholder => "youtube" %><br />
                      <%= error_tag(@gig, :yotube_url) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default">Cancel</button>
                      <%= f.submit :class => "btn btn-primary" %>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    </div>

