

    <div class="container">

      <!-- Typography
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="type"><%= @gig.name %></h2>
            </div>
          </div>
        </div>

        <%= image_tag @gig.flyer_url, :size => "400x250" %>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-4">

            <div class="bs-example">
              <p class="lead"><%= @gig.day %></p>
              <p class="lead"><%= simple_format(@gig.infomation) %></p>
            </div>

            <% if @gig.yotube_url != "" %>
              <iframe width="500" height="300" src="<%= @gig.yotube_url %>?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            <% end %>
          </div>
        </div>

        <br/><br/>
        <%= link_to 'TOPへ戻る', '/' %>
        <br/><br/>

    </div>



